<?xml version="1.0"?>
<orderconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <maned>10000</maned>
  <zhekou>99</zhekou>
  <quanguan>99</quanguan>
  <yunmian>3000</yunmian>
  <yunfei>30</yunfei>
  <mebegin>2018-10-10T00:00:00</mebegin>
  <meend>2019-10-18T00:00:00</meend>
  <metype>2</metype>
  <zkjin>1234</zkjin>
  <qgbegin>2018-10-11T00:00:00</qgbegin>
  <qgend>2018-11-10T00:00:00</qgend>
  <qgtype>2</qgtype>
  <quanguanjin>123</quanguanjin>
</orderconfig>