<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>天茗茶葉</webname>
  <weburl>http://Tea.uartu.com/</weburl>
  <weblogo>/images/logo.png</weblogo>
  <themecolor>99|2017-12-05|活動名稱|優惠券說明優惠券說明</themecolor>
  <fontcolor>99|2017-12-24|活動名稱|優惠券說明</fontcolor>
  <webcompany>天茗茶葉</webcompany>
  <webaddress>新北市板橋區</webaddress>
  <webtel>02-26811255</webtel>
  <webfax>-</webfax>
  <webmail>info@mail.com</webmail>
  <webcrod />
  <webtitle>天茗茶葉 | 驚喜市集‧折扣分享‧全站免運</webtitle>
  <webkeyword>天茗茶葉 | 驚喜市集‧折扣分享‧全站免運</webkeyword>
  <webdescription>天茗茶葉 | 驚喜市集‧折扣分享‧全站免運</webdescription>
  <webcopyright>11111111</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>aspx</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>3</commentstatus>
  <logstatus>0</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>測試公告</webclosereason>
  <webcountcode>24|24|2</webcountcode>
  <smsapiurl />
  <smsusername>|</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.zoho.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>465</emailport>
  <emailfrom>xiangyi@zoho.com</emailfrom>
  <emailusername>xiangyi@zoho.com</emailusername>
  <emailpassword>322FFF0CC552B0F2B4D16F8C25B47F18</emailpassword>
  <emailnickname>天茗茶葉</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,xlsx</fileextension>
  <videoextension>flv,mp3,mp4,avi</videoextension>
  <attachsize>512000</attachsize>
  <videosize>1024000</videosize>
  <imgsize>10240</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>0</thumbnailheight>
  <thumbnailwidth>0</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>100</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>Tea</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>shop_</sysdatabaseprefix>
  <sysdatabaseprefixuser>art_</sysdatabaseprefixuser>
  <sysdatabaseprefixspace>space_</sysdatabaseprefixspace>
  <sysdatabaseprefixji>ji_</sysdatabaseprefixji>
  <sysdatabaseprefixnews>news_</sysdatabaseprefixnews>
  <sysdatabaseprefixweiweb>weiweb_</sysdatabaseprefixweiweb>
  <sysencryptstring>Tea</sysencryptstring>
  <txt_Da>10</txt_Da>
  <txt_Shen>99</txt_Shen>
</siteconfig>