<?xml version="1.0"?>
<configuration>
  <!-- appSettings網站資料配置-->
  <configSections>
    <section name="oauth.configuration" type="MultiOAuth.Core.Configuration.OAuthConfigurationSection, MultiOAuth.Core" />
  </configSections>
	<appSettings>
		<add key="Configpath" value="~/xmlconfig/site.config"/>
		<add key="Userpath" value="~/xmlconfig/user.config"/>
		<add key="Orderpath" value="~/xmlconfig/order.config"/>

    <add key="FtpServerIP" value="61.57.227.35"/>
    <add key="FtpUserName" value="tea"/>
    <add key="FtpPassWord" value="tr18559415"/>
	</appSettings>
	<!-- 資料庫連結字串-->
	<connectionStrings>
    <add name="ConnectionString" connectionString="server=.;uid=sa;pwd=sa;database=tea;"/> 
	</connectionStrings>
  <oauth.configuration>
    <web acceptedRedirectUrl="~/login_success.aspx" failedRedirectUrl="~/login_success.aspx" />
    <oauth>
      <add name="Google" type="MultiOAuth.Core.Client.GoogleClient, MultiOAuth.Core" clientid="696996701850-07le3n61b74stiuq9p2vqpdtfa24rf94.apps.googleusercontent.com" clientsecret="iaQvwhb8k1KRKWvgkkdzXnHg" callbackUrl="http://tea.artkao.top/login_success.aspx" scope="https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email" />
    </oauth>
  </oauth.configuration>
	<system.web>
    <pages enableEventValidation="false" validateRequest="false">
      <controls>
        <add tagPrefix="public" src="~/public/hand.ascx" tagName="hand"></add>
        <add tagPrefix="public" src="~/public/left.ascx" tagName="left"></add>
        <add tagPrefix="public" src="~/public/foot.ascx" tagName="foot"></add>
      </controls>
    </pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<customErrors mode="Off"/>
 
		<!-- 文件上傳大小KB-->
		<httpRuntime requestValidationMode="2.0" maxRequestLength="512000" executionTimeout="3600"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
 
	</system.webServer>
</configuration>
